/* General Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

/* Menu Container */
.menu {
  display: flex;
  list-style: none;
  background-color: var(--menu-bg-color, #fff);
  border: 1px solid var(--menu-border-color, #ddd);
  border-radius: 4px;
  overflow: hidden;
}

.menu-horizontal {
  flex-direction: row;
}

.menu-vertical {
  flex-direction: column;
}

/* Menu Item */
.menu-item {
  flex: 1;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  white-space: nowrap;
}
.menu-item a {
  text-decoration: none;
  color: var(--menu-color, #333);
}

.menu-item.active {
  background-color: #1890ff;
  color: var(--menu-active-color, #fff);
}
.menu-item.active:hover {
  background-color: var(--menu-hover-bg-color, #57aeff);

}
.menu-item.active a {
  color: var(--menu-active-color, #fff);
}

.menu-item:hover {
  background-color: var(--menu-hover-bg-color, #f0f0f0);
}

/* Horizontal Mode Specific */
.menu-horizontal .menu-item {
  border-right: 1px solid var(--menu-border-color, #ddd);
}

.menu-horizontal .menu-item:last-child {
  border-right: none;
}

/* Vertical Mode Specific */
.menu-vertical .menu-item {
  border-bottom: 1px solid var(--menu-border-color, #ddd);
}

.menu-vertical .menu-item:last-child {
  border-bottom: none;
}

/* Selector Menu Container */

.selector-menu {
  position: relative;
  display: inline-block;
  font-size: 16px;
}

.selector-menu-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  width: 256px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0px 3px 6px -4px #0000001f;
}

.selector-menu-toggle:hover {
  background-color: #f0f0f0;
}

.menu-icon {
  margin-right: 10px;
}

img .arrow {
  margin-left: 10px;
  width: 12px;
  height: 12px;
}

.selector-title {
  display: flex;
}

.selector-menu-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.selector-menu-item {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.selector-menu-item:hover {
  box-shadow: -3px 0px 0px 0px #1890ff inset;
  background-color: #e6f7ff;
  color: #1890ff;
}

.selector-menu-item.selected {
  background-color: #e6f7ff;
  color: #1890ff;
}

/* Menu Container */
.selected-menu {
  position: relative;
  display: inline-block;
  font-size: 16px;
}

.selected-menu-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  width: 256px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0px 3px 6px -4px #0000001f;
}

.selected-menu-toggle:hover {
  background-color: #f0f0f0;
}

.menu-icon {
  margin-right: 10px;
}

.arrow {
  margin-left: 10px;
  width: 12px;
  height: 12px;
}

.selected-menu-list {
  position: absolute;
  top: 0;
  left: 255px;
  right: -200px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.selected-menu-item {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.selected-menu-item:hover {
  box-shadow: -3px 0px 0px 0px #1890ff inset;
  background-color: #e6f7ff;
  color: #1890ff;
}

.selected-menu-item.selected {
  background-color: #e6f7ff;
  color: #1890ff;
}
