/* DocumentationForm.css */
.documentation-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.documentation-container h2 {
    margin-top: 0;
}

.documentation-container ul {
    list-style-type: none;
    padding-left: 0;
}

.documentation-container ul li {
    margin-bottom: 10px;
}

.documentation-container .component-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
}
