/* Checkbox.css */
.checkbox-wrapper {
    display: flex;
    align-items: center;
}
.checkbox-wrapper input{
    width: 20px;
}

.checkbox-wrapper input[type="checkbox"] {
    margin-right: 8px;
}

.checkbox-wrapper.disabled {
    color: #ccc;
}

.checkbox-wrapper input[type="checkbox"]:disabled {
    cursor: not-allowed;
}
