 @import url('../../syles/variable.css');

.btn {
  padding: 10px 20px;
  display: inline-flex;
  font-size: var(--font-size);
  font-family: var(--font-family);
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
}

.btn.primary {
  background-color: var(--primary);
  color: var(--white);
}

.btn.secondary {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--border-color);
}

.btn.dashed {
  background-color: var(--white);
  color: var(--black);
  border: 1px dashed var(--border-color);
}

.btn.link {
  background: none;
  color: var(--primary);
  border: none;
  padding: 0;
  box-shadow: none;
}

.btn.text {
  background: none;
  color: var(--black);
  border: none;
  padding: 0;
  box-shadow: none;
}

.btn.disabled {
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.65;
} 

