.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.2);;
  }
  
  .btn.primary {
    background-color: #1890FF;
    color: white;
  }
  
  .btn.secondary {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
  }
  
  .btn.dashed {
    background-color: white;
    color: black;
    border: 1px dashed #ccc;
  }
  
  .btn.link {
    background: none;
    color: var(--primary);
    border: none;
    padding: 0;
    box-shadow: none;
  }
  
  .btn.text {
    background: none;
    color: black;
    border: none;
    padding: 0;
    box-shadow: none;
  }
  