@import url('../../../syles/variable.css');

.box {
  position: relative;
  font-family: var( --font-family);
  font-size: var(--font-size);
  line-height: 1.5em;
  margin: 0.3em;
  padding: 10px;
  background-color: var(--gray-light); 
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
}

.notification {
  position: absolute;
  right: -0.7em;
  top: -0.7em;
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  border: 0.05em solid var(--white);
  background-color: var(--danger);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  color: var(--white);
}

.badge {
  display: inline-flex;
  align-items: center;
  position: relative;
}
