.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}

.col {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
}

.Divider {
  width: 100%;
  height: 1px;
  position: relative;
  z-index: 0;
  text-align: center;
  margin: 16px auto;
  display: block;
  background-color: black;
}

.p {
  width: fit-content;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  background-color: white;
  margin: 0 2rem;
  padding: 0 1rem;
}

.space {
  width: fit-content;
  height: auto;
  display: flex;
  margin: 2rem 0;
}

.layout {
  width: 100%;
}

.header {
  width: 100%;
  height: 50px;
  color: white;
  background-color: #001628;
  padding: 1rem;
}

.sider {
  height: 100%;
  width: fit-content;
  min-width: fit-content;
  background-color: #001628;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
}

.closeArrow {
  width: 100%;
  height: 3rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #01203f;
}

.arrow {
  border: solid white;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.content {
  width: 100%;
  background-color: #fff;
  padding: 1rem;
}

.footer {
  height: 50px;
  width: 100%;
  background-color: #fff;
  padding: 1rem;
}

@media (min-width: 400px) {
  .span-sm-24 {
    grid-column: auto / span 24 !important;
  }

  .span-sm-16 {
    grid-column: auto / span 16 !important;
  }

  .span-sm-8 {
    grid-column: auto / span 8 !important;
  }

  .span-sm-4 {
    grid-column: auto / span 4 !important;
  }
}

@media (min-width: 768px) {
  .span-md-24 {
    grid-column: auto / span 24 !important;
  }

  .span-md-16 {
    grid-column: auto / span 16 !important;
  }

  .span-md-8 {
    grid-column: auto / span 8 !important;
  }

  .span-md-4 {
    grid-column: auto / span 4 !important;
  }
}

@media (min-width: 1024px) {
  .span-lg-24 {
    grid-column: auto / span 24 !important;
  }

  .span-lg-16 {
    grid-column: auto / span 16 !important;
  }

  .span-lg-8 {
    grid-column: auto / span 8 !important;
  }

  .span-lg-4 {
    grid-column: auto / span 4 !important;
  }
}
