/* src/App.css */

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 50px;
}

input {
  width: 395px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #d9d9d9;
  border-radius: var(--border-radius);
}
input:focus {
  outline: none;
}
/* mail */
.input-field {
  display: flex;
  align-items: center;
  border: 1px solid  var(--border-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  width: 395px;
  margin: 0 auto;
}

.addon {
  padding: 10px;
  background-color: var(--gray-light);
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.input-field .addon-before {
  border-right: 1px solid  var(--border-color);
}

.input-field .addon-after {
  border-left: 1px solid  var(--border-color);
}

.input-field .input {
  border: none;
  outline: none;
  padding: 5px 10px;
  flex: 1;
}

.input-field .input::placeholder {
  color: var(--gray-light);
}

/* search */

.search-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  width: 395px;
}

.search-input-field {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: var(--border-radius + 1);
}
.search-input-field:focus {
  outline: none;
}

.search-input-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  background-color: var(--primary);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  border: none;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s;
}
.search-input-button img {
  width: 16px;
  height: 16px;
  color: white;
}

.search-input-button:hover {
  background-color: var(--primary-hover);
  border-color: var(--primary);
}
