/* src/App.css */

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 50px;
}

input {
  width: 395px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #d9d9d9;
  border-radius: var(--border-radius);
}
input:focus {
  outline: none;
}

.mail {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 395px;
  border: 1px solid var(--border-color);
  box-shadow: 1px var(--border-color);
  border-radius: var(--border-radius);
  overflow: auto;
}
.mail input {
  padding: 10px;
  width: 269px;
  border: none;
}
.mail input:focus {
  outline: none;
}
.mail .start {
  width: 70px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray);
  border: none;
}
.mail .end {
  background-color: var(--gray);
  width: 56px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* search */

.search-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
width: 395px;
  }
  
  .search-input-field {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: var(--border-radius + 1);
}
.search-input-field:focus {
  outline: none;
}

.search-input-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  background-color: var(--primary);
  border-radius: 0  var(--border-radius)  var(--border-radius) 0;
  border: none;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s;
}
.search-input-button img {
  width: 16px;
  height: 16px;
  color: white;
}

.search-input-button:hover {
  background-color: var(--primary-hover);
  border-color: var(--primary);
}
