@import url('../../../syles/variable.css');
.circular-progress-bar {
    position: relative;
    display: inline-block;
}

.circular-progress-bar-bg {
    fill: none;
    stroke: var(--gray);
}

.circular-progress-bar-fill {
    fill: none;
    transition: stroke-dashoffset 0.3s ease-in-out;
}

.circular-progress-bar text {
    fill: var(--black);
    font-family: var(--font-family);
}
