@import url('../../../syles/variable.css');

.listContainer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  font-family: var(--font-family);
}

.header,
.footer {
  padding: 10px;
  background-color: var(--white);
  border-bottom: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
}

.list {
  display: flex;
  flex-direction: column;
}

.listItem {
  flex: 1;
  padding: 15px 10px; 
  border-bottom: 1px solid var(--border-color);
  margin: 0;
  background-color: transparent;
}
 .listItem:last-child {
  border-bottom: none;
} 

.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 10px ;
}

.loadMoreButton,
.loadLessButton {
  color: var(--black);
  padding: 10px 20px;
  background-color: var(--gray);
  border: 1px solid var(--border-color);
  cursor: pointer;
  font-size: var(--font-size);
  margin: 0 10px;
}

.loadMoreButton:hover,
.loadLessButton:hover {
  background-color: var(--gray);
}