@import url('../../../syles/variable.css');

.list-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    font-family: var(--font-family)
}
.header,
.footer {
  padding: 10px;
  background-color: var(--white);
  border-bottom: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-item {
  padding: 15px;
  border-bottom: 1px solid var(--border-color);
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.load-more-button,
.load-less-button {
  padding: 10px 20px;
  background-color: var(--gray);
  border: 1px solid var(--border-color);
  cursor: pointer;
  font-size: var(--font-size);
  margin: 0 10px;
}

.load-more-button:hover,
.load-less-button:hover {
  background-color: var(--gray);
}