@import url('../../../syles/variable.css');
.alert {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  margin-bottom: 10px;
  height: 100px; 
  width: 300px;
  box-sizing: border-box; 
  font-family: var(--font-family);
}

.alert-icon {
  margin-right: 10px;
}

.alert-content {
  text-align: left;
  
}

.alert-title {
  margin: 0;
  font-size: 1.2em;
  padding: 12px;

}

.alert-description {
  margin: 5px 0 0;
}

.SuccessAlert {
  background-color: #f6ffed;
  border-color: #b7eb8f;
}

.informational-note {
  background-color: #e8f4fa;
  border-color: #bee5eb;
}

.warning {
  background-color: #fff8e5;
  border-color: #ffeeba;
}

.error {
  background-color: #fdecea;
  border-color: #f5c6cb;
}
