.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Roboto', sans-serif;
}

.custom-table th, .custom-table td {
  padding: 8px;
  text-align: center;
}

.custom-table th {
  background-color: #fafafa;
  padding: 20px;
  border: 1px solid #ddd; 
}

.custom-table td {
  background-color: #f0f5ff;
  vertical-align: middle; 
  border: 1px solid #ddd; 
}

.custom-table input {
  width: 100%;
  box-sizing: border-box;
  padding: 4px;
}

.custom-table td a {
  margin-right: 5px;
}

.delete-button, .invite-button {
  background-color: transparent;
  color: #1990ff;
  border: none;
  font-size: 16px;
}

.tag-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px; 
  border-radius: 4px;
  font-size: 14px;
  margin-right: 5px;
  border: 1px solid transparent;
}

.tag-container img.cancel-icon {
  width: 12px;
  height: 12px;
  cursor: pointer;
  margin-left: 8px;
}

.tag1 {
  background-color: #f6ffed;
  color: #52c41a;
  border: 1px solid #b7eb8f;
}

.tag2 {
  background-color: #f0f5ff;
  color: #2f54eb;
  border: 1px solid #adc6ff;
}
